Repository youssef-md/pdf2knowledge.github.io, pull requests merged in 2018-08, with the labels that each got.

#10 Feature/side menu
  assets/css/base.css
  assets/css/sidebar.css
  assets/js/SideMenu.js
  index.html
Labels: enhancement, side-nav

#11 Feature/content pages
  assets/css/content-pages.css
  assets/js/ContentPages.js
  conhecimentos.html
  metodologia.html
  sprints.html
Labels: Content Page

#23 Devel
  .gitignore
  docs/doc1.md
  docs/doc2.md
  docs/doc3.md
  docs/exampledoc4.md
  docs/exampledoc5.md
  website/.gitignore
  website/blog/2016-03-11-blog-post.md
  website/blog/2017-04-10-blog-post-two.md
  website/blog/2017-09-25-testing-rss.md
  website/blog/2017-09-26-adding-rss.md
  website/blog/2017-10-24-new-version-1.0.0.md
  website/core/Footer.js
  website/i18n/en.json
  website/package-lock.json
  website/package.json
  website/pages/en/help.js
  website/pages/en/index.js
  website/pages/en/users.js
  website/sidebars.json
  website/siteConfig.js
  website/static/css/animation.css
  website/static/css/card.css
  website/static/css/custom.css
  website/static/css/header.css
  website/static/css/reset.css
  website/static/css/typography.css
  website/static/img/favicon.png
  website/static/img/favicon/favicon.ico
  website/static/img/knowledge.png
  website/static/img/members/Bernardo.jpeg
  website/static/img/members/Clarissa.jpg
  website/static/img/members/Esio.jpg
  website/static/img/members/Felipe.jpeg
  website/static/img/members/Jaco.jpeg
  website/static/img/members/Lucas.jpeg
  website/static/img/members/Mariana.jpeg
  website/static/img/members/Pedro.jpeg
  website/static/img/members/Saleh.png
  website/static/img/members/Youssef.jpeg
  website/static/img/members/git.png
  website/static/img/members/link.png
  website/static/img/oss_logo.png
Labels: enhancement
